.logo {
    width: 250px;
    height: 290px;
    background-size: cover;
    background-image: url("./logo.svg");
}

@media only screen and (max-width: 768px) {
    .logo {
        width: 180px;
        height: 210px;
    }

    .mini {
        height: 120px;
        background-image: url("./logoMini.svg");
    }
}
